@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

* {
  box-sizing: border-box;
}

:root {
  --line-border-fil: #3498db;
  --line-border-empty: #e0e0e0;
}

body {
  font-family: "Muli", sans-serif;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #333333;
  color: #222222;
  overflow-x: hidden;
}

.container {
  display: flex;

  width: 90vw;
}

.pcontainer {
  text-align: center;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: white;
  box-shadow: 3px 10px 20px #c0c0c0;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font: size 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opactiy 0.3s ease-in 0.4s;
}

@media (max-wdith: 480px) {
  .container {
    width: 100vw;
  }

  .panel :nth-last-of-type(4),
  .panel :nth-last-of-type(5) {
    display: none;
  }
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 10px;
  margin: auto;
  margin-bottom: 15px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
  height: 4px;
  width: 100%;
  z-index: 1;
}

.progress {
  background-color: var(--line-border-fil);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
  height: 4px;
  width: 0%;
  z-index: 1;
  transition: 0.4s ease;
}

.circle {
  background-color: white;
  color: #999;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
  z-index: 2;
}

.circle.glow {
  border-color: var(--line-border-fil);
}

.btn {
  background-color: var(--line-border-fil);
  color: white;
  border: 0ch;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}

/* Navigation */
.container .pcontainer {
  display: flex;
  align-items: center;
}

.content {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding-left: 80px;
  padding-top: 36px;
}

.content.show-nav {
  transform: rotate(-20deg);
}

.ncircle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.content.show-nav .ncircle {
  transform: rotate(-70deg);
}

.ncircle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.ncircle button:focus {
  outline: none;
}

.ncircle button#open {
  left: 60%;
}

.ncircle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.content.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 10px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 20px;
  transform: translateX(-200%);
}

.ncircle {
  background-color: #3498db;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

a {
  text-decoration: none;
  background-color: #333333;
  color: white;
}


.search .input {
  border: 3px solid var(--line-border-empty);
  
  border: 0ch;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 3px 10px 20px #c0c0c0;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;
  transition: width 0.3s ease;

}

.search .btn{
  box-shadow: 3px 10px 20px #c0c0c0;
  position: absolute;
  right: 0;
  top: 0;
  transition: tansform 0.3 ease;
}
.btn:focus, .input:focus {
  outline: none;
}

.search.active .input{
  width: 200px;
  transform: translateX(-75px);
}


